@import '../../style/variables.scss';
@import '../../style/mixins.scss';


.navbar {
    background-image: url("./img/picture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navbar-background {
        background-color: rgba(0, 0, 0, 0.2);

        .navbar-body {

            .navbar-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: fixed;
                color: white;
                z-index: 10;

                .navbar-sign {
                    text-align: center;
                    margin: 10px 30px;
                    width: auto;

                    p {
                        margin: 0;
                        font-weight: 700;
                        font-size: 24px;
                    }
                }

                .navbar-links {
                    width: auto;

                    ul {

                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin: 17px 30px 0 0;
                        padding: 0;
                        list-style: none;

                        li {

                            width: auto;

                            height: auto;
                            margin: 0 30px 17px 0;

                            a {
                                display: block;
                                font-weight: 400;
                                font-size: 10px;
                                text-decoration: none;
                                color: white;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                opacity: 0.7;
                                transition: 0.3s all;

                                &:hover {
                                    color: white;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            .navbar-center {
                text-align: left;
                padding: 13% 0 0 18%;
                height: auto;
                color: white;
                text-transform: uppercase;
                font-weight: 400;

                .navbar-center-names {
                    margin: 50px 0 0 0;

                    p {
                        @include fluid-type($min_width, $max_width, 24px, 64px);
                        margin: 0;
                        padding-bottom: 25px;
                        height: auto;
                        font-weight: 700;
                        font-size: 64px;
                        letter-spacing: 15px;
                    }
                }

                .navbar-center-description {
                    p {
                        font-size: 10px;
                        letter-spacing: 2px;
                    }
                }

                button {
                    width: 220px;
                    height: 50px;
                    padding: 0;
                    margin: 50px 0 0 0;
                }
            }
        }
    }
}